@import url(//fonts.googleapis.com/css?family=Vibur);
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap");

:root {
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
    --spacing-five: calc(2.5rem);
    --font: "Overpass";
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
}

html,
body {
    height: 100%;
}

main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
}

body {
    font-family: var(--font);
    font-size: var(--fs-400);
    color: white;
    background-color: #000;
    line-height: 1.5;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
    background: #112 url(./assets/images/backgroud.png) center no-repeat;
    background-size: cover;
    margin: 0;
}

li {
    list-style: none;
}

header {
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

nav {
    float: right;
}

/* ------------------------- */
/* Utility Classes */
/* ------------------------- */

.flex-row {
    display: flex;
    gap: var(--gap, 1rem);
    flex-wrap: wrap;
}

.px-1 {
    padding-right: var(--spacing-one);
    padding-left: var(--spacing-one);
}

.mx-2 {
    margin-right: var(--spacing-two);
    margin-left: var(--spacing-two);
}

/* ------------------------- */
/* End of Utility Classes */
/* ------------------------- */

.nav-toggle {
    display: none;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0, 0%, 100% / 0.1);
    font: 400 1.5rem "Overpass";
}

@supports (backdrop-filter: blur(1rem)) {
    .navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

.navigation a {
    text-decoration: none;
}

.navigation li {
    cursor: pointer;
}

@media (max-width: 35em) {
    .navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url(./assets/images/icons/hamburger-icon.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .nav-toggle[aria-expanded="true"] {
        background-image: url(./assets/images/icons/x-symbol-svgrepo-com.svg);
    }
}

@media (min-width: 35em) {
    .navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 8vw, 10rem);
    }
}

/*  Neon Sign Effect from https://codepen.io/nodws/pen/WNjXbr */
.name {
    color: rgba(255, 255, 255, 0.75);
}

.name b {
    /* font: 600 7.5rem "Vibur"; */
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 -40em 100em, 0 0 2em, 0 0 1em #ca5cdd, 0 0 0.5em #ca5cdd,
        0 0 0.1em #ca5cdd, 0 10em 3em #000;
}

.name b span {
    animation: blink linear infinite 2s;
}

.name b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
/* End of Neon Sign Effect Found @ https://codepen.io/nodws/pen/WNjXbr */

.name a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.px-1 {
    padding-right: var(--spacing-one);
    padding-left: var(--spacing-one);
}

.mx-2 {
    margin-right: var(--spacing-two);
    margin-left: var(--spacing-two);
}

.modalBackdrop {
    background: rgba(0, 0, 0, 0.65);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.modalContainer {
    background: var(--darker);
    border-radius: 5px;
    max-width: 100%;
    margin: 50px auto;
    padding: 15px;
    width: 960px;
}

.modalTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
